.profile__addButton{
  margin-left:auto;
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  align-self: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../../images/plus.svg');
  box-sizing: border-box;
}
@media (max-width: 700px) {
  .profile__addButton {
    margin-top: 32px;
    width: 70%;
    margin-right: auto;
    background-image: url('../../../images/plusL.svg');
  }
}
@media (max-width: 425px) {
  .profile__addButton {
    width: 100%;
  }
}
.profile__addButton:hover{
  opacity: 0.6;
  cursor: pointer;
}
